Leap Motion Driver	1.2.0	C:\Program Files (x86)\National Instruments\LabVIEW 2011\vi.lib\LabVIEW Hacker\Leap\Private\Installer\Check Leap Driver.vi	https://leapmotion.cachefly.net/Protected/expiretime=1399130943/2cd61481b6bb24ccc445934116dff3b4/64ee60b/Leap_Motion_Installer_release_public_win_x86_1.2.0+10947_ah1675.exe	
